/* General Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 10px;
}

/* Col Rules */

/* DEBUG */

[class*="col-"]{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006cfa;
    border: 1px solid white;
    color:white;
    min-height: 50px;
}

/* Col-6 Rules*/

[class*="col-6"]{
    padding: 10px;
}
    
/* Col-Nest Rules */

[class*="nest"]{
    background-color: #00e265;
    color:white;
    margin: 2px;
}