/* General Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 10px;
}

/* Col Rules */

/* DEBUG */
[class*="col-"]{
    background-color: #006cfa;
    border: 1px solid white;
    align-items: center;
    color:white;
    padding: 10px;
    min-height: 50px;
}

/* Col-5 Rules*/

[class*="col-5"]{
    display: flex;
}

/* Col-6 Rules*/

[class*="col-6"]{
    display: flex;
    justify-content: center;
}

[class*="big"]{
    height: 100px;
} 

[class*="small"]{
    height: 50px;
}

[class*="center"]{
    height: 50px;
    align-self: center;
}

[class*="bottom"]{
    height: 50px;
    align-self: flex-end;
}

/* Col-7 Rules*/

[class*="col-7"]{
    display: flex;
    justify-content: center;
}
    
/* Col-Nest Rules */

[class*="nest"]{
    background-color: #00e265;
    color:white;
    margin: 2px;
}

