/* General Rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* DEBUG */
    /* background-color: blue; */
}

h1{
    text-align: center;
    margin: 10px;
}

/* Col Rules */

/* DEBUG */
[class*="col-"]{
    background-color: blue;
    border: 1px solid white;
    color:white;
    text-align: center;
    line-height: 50px;
    min-height: 50px;
}

/* Col-6 Rules*/

[class*="col-6"]{
    display: flex;
    justify-content: center;
    background-color: blue;
    border: 1px solid white;
    color:white;
    padding: 10px;
}
    
/* Col-Nest Rules */

/* DEBUG */
[class*="col-nest"]{
    background-color: green;
    color:white;
    margin: 2px;
}